<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Registrar Pelicula</title>
    <link rel="stylesheet" href="{% static 'css/Estilos.css' %}">
</head>
<style>



</style>
<body>

    <ul class="menu">
        <!-- Datos de la cinta de opciones -->
        <li><a href="/MenuAdmin">Volver</a></li>
      </ul>
<br>
    <h1>Registrar Película</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <label for="id">ID:</label>
        <input type="number" name = "id" required>
        <br>
        <label for="nombre">Nombre:</label>
        <input type="text" name = "nombre" required>
        <br>
        <label for="fecha">Fecha:</label>
        <input type="date" name = "fecha" required>
        <br>
        <label for="hora">Hora:</label>
        <input type="time" name="hora" required>
        <br>
        <label for="categoria">Categoria:</label>
        <input type="text" name = "Categoria" required>
        <br>
        <label for="link">Link de imagen:</label>
        <input type="text" name = "Link" required>

        <input type="submit" value="Añadir Pelicula">
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>