<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Eliminar Tarjeta</title>
    <link rel="stylesheet" href="{% static 'css/Estilos.css' %}">
</head>
<style>
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    height: 125px;
    margin:0 auto;
    display: block;
  }
</style>
<body>
    <ul class="menu">
        <!-- Datos de la cinta de opciones -->
        <li><a href="/MenuAdmin">Volver</a></li>
      </ul>
<br>
    <h1>Eliminar Tarjeta</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <label for="numero">Numero de tarjeta:</label>
        <input type="number" name = "numero" required>
        <br>
        <input type="submit" value="Eliminar Tarjeta">
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>