<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Compra Boletos</title>
        <link rel="stylesheet" href="{% static 'css/Estilos.css' %}">
    </head>
    <body>
        <ul class="menu">
            <li><a href="/Menu/Cliente">Colver</a></li>
            <li><a href="Historial">Ver Historial</a></li>
          </ul>
          <br>   
         <h1 style="text-align: center;">Comprar Boletos</h1>
          <br>
          <form method="post">
              {% csrf_token %}
              <label for="asientos">Ingrese el ID de la Película:</label>
              <input type="number" name = "asientos" required>
              <br>
              <label for="boleto">Ingrese la cantidad de Boletos:</label>
              <input type="number" name = "boleto" required>
              <br>
              <label for="numero">Ingrese número de sala:</label>
              <input type="number" name = "numero" required>
              <br>
              <label for="asiento">Ingrese número de asientos:</label>
              <input type="number" name="asiento" required>
              <br>
              <label for="fecha">Ingrese la fecha de función:</label>
              <input type="date" name = "fecha" required>
              <br>
              <label for="hora">Ingrese la hora de función:</label>
              <input type="time" name = "hora" required>
              <br>
              <label for="nombre">Ingrese su nombre para la factura:</label>
              <input type="text" name = "nombre" required>
              <br>
              <label for="nit">Ingrese el NIT (Ingrese 0 para CF):</label>
              <input type="number" name = "nit" required>
              <br>
              <label for="direccion">Ingrese su Dirección:</label>
              <input type="text" name = "direccion" required>
              <br>
              <select name="metodo" id="metodo">
                <option value="Credito">Crédito</option>
                <option value="Debito">Debito</option>
                <option value="Efectivo">Efectivo</option>
              </select>
              <br>
              <input type="submit" value="Hacer Pago">
          </form>
    </body>
</html>