<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <title>USAC-CINEMA</title>
  <link rel="stylesheet" href="{% static 'css/Estilos.css' %}">
</head>

<style>
    h1{
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    margin: 0 auto;
    display: block;
  }
</style>

<body>
  <ul class="menu">
    <!-- Datos de la cinta de opciones -->
    <li><a href="IniciarSesion">Iniciar Sesion</a></li>
    <li><a href="RegistrarUsuario">Registrar Usuario</a></li>
    <li><a href="ListaPeliculasMenu">Catalogo de Películas </a></li>
  </ul>

    <h1>USAC-CINEMA</h1>
</body>
</html>