<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Administrador USAC-CINEMA</title>
        <link rel="stylesheet" href="{% static 'css/Estilos.css' %}">
    </head>
<body>
<h1>Administración</h1>

<h3>Gestionar Usuarios</h3>
<button onclick="window.location.href='RegistrarUsuario'">Añadir</button> <button>Eliminar</button> <button>Modificar</button> <button>Mostrar</button>
<br>
<h3>Gestionar Películas</h3>
<button onclick="window.location.href='RegistrarPeliculas'">Añadir</button> <button>Eliminar</button> <button>Modificar</button> <button>Mostrar</button>
<br>
<h3>Gestionar Salas</h3>
<button onclick="window.location.href='RegistrarSalas'">Añadir</button> <button>Eliminar</button> <button>Modificar</button> <button>Mostrar</button>
<br>
<h3>Gestionar Boletos</h3>
<br>
</body>




</html>